p {
    color: black;
    text-align: center;
    font-family: cursive;
  }

  #link-home {
    text-align: center;
    font-size: large;
  }
  
  #Link-home-text {
    text-align: center;
    font-size: large;
  }