body {
    background: skyblue;
}
h1 {
    font-weight: bold;
    color: pink;
    text-align: center;
    text-shadow: palegreen;
    background: lightyellow;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: cursive;
}