body {
    background: skyblue;
}
h1 {
    font-weight: bold;
    color: pink;
    text-align: center;
    text-shadow: lightcoral;
    background: lightyellow;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: cursive;
}

p {
    text-align: center;
    color: plum;
    font-family:'Courier New', Courier, monospace;
}